@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.weather {
    @include flex;
    align-items:stretch;
    font-size: $fnt_base;
}
.wrapper {
    @include flex;
    
    @include glassmorphism;
    flex-direction: row;
    height: 30vmin;
    margin: $mrgn;
}

.loc,
.temp, 
.wind, 
.press, 
.hum  {
    @include flex
}