@import '../../styles/mixins.scss';

.weather {
    @include flex;
    align-items:stretch;
    font-size: calc(16px + 2vmin);
}
.wrapper {
    @include flex;
    @include glassmorphism;
    flex-direction: row;
    height: 20vmin;
    margin: calc(20px + 2vmin);
    padding: 10px;
}

.loc .temp .wind .press .hum {
@include flex
}