@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@600&display=swap');
@import './mixins.scss';
@import './variables.scss';

body {
  color: $base;
  font-family: 'Fira Sans', -apple-system, 'Segoe UI', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p{
  margin: 0;
}
.App {
  @include gradient;
  width: 100vw;
  min-height: 100vh;
}