@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

form {
    @include flex;
    
    input {
        @include glassmorphism;
        color: $base;
        margin: $mrgn;
        font-size: $ui_fnt;
        width: 30%;
        text-align: center;
           
        &::placeholder {
            color: $base;
        }
                
        &:focus::-webkit-input-placeholder {
            color: transparent;
        }
        &:focus {
            background: $glss_accnt;
            outline: none;
        }
    }

    button {
            @include glassmorphism;
            color: $base; 
            font-size: $ui_fnt;
            text-transform: lowercase;
            cursor: pointer;
    
            &:active {
                box-shadow: 0px 2px 4px $base;
                transform: scale(0.98);
            }
    
            &:hover {
                background-color: $glss_accnt
            }
    }
}