.weather {
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
    padding: 20px;
    font-size: 16px;
    font-style: #fff;
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-around;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        padding:40px;
        margin:10px;
    }
}
button {
    margin:10px;
    display: block;
    padding: 5px;
    border: 0;
    text-decoration: none;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(30px);
    color: rgba(255, 255, 255, 0.8);
    // font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
fieldset{
    .slider{
        display: inline-block;
    }
    border: none;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}